In [1]:
import pandas as pd
from data_reader import DataReader

In [2]:
data_obj = DataReader()

c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3337: DtypeWarning: Columns (10,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [3]:
df = data_obj.get_pandas_df()

In [4]:
df.columns

Index(['Triadid', 'DyadID', 'ConflictID', 'Startdate1', 'Startdate2', 'Target',
       'TarNum_COW', 'NAG_name', 'NAGcode_1', 'NAGcode_2', 'Incomp', 'Terr',
       'Foundyr', 'Year', 'NAGID_1', 'NAGID_2', 'NAGID_3', 'NAGID_4',
       'NAGID_5', 'NAGEth', 'NAGRel', 'NAGLeft', 'NAGRight', 'NAGDem',
       'NAGAuth', 'NAGDict', 'NAGMil', 'NAGTheo', 'NAGObj_1', 'NAGObj_2',
       'NAGObj_3', 'NAGObj_4', 'NAGObj_5', 'NAGObj_6', 'PolParDummy',
       'PartyName', 'Tar_DomSup', 'Tar_DomSup_Precision', 'StateSupporter',
       'SupNum_COW', 'S_SafeMem', 'S_Precision_SM', 'S_SafeLead',
       'S_Precision_SL', 'S_Offices', 'S_Precision_Head', 'S_TrainCamp',
       'S_Precision_TC', 'S_Training', 'S_Precision_Train', 'S_WeaponLog',
       'S_Precision_WL', 'S_FinAid', 'S_Precision_FinAid', 'S_Transport',
       'S_Precision_Tp', 'S_Troop', 'S_Precision_Tr', 'S_Other',
       'S_Precision_Oth', 'DS_SafeMem', 'DS_Precision_SM', 'DS_SafeLead',
       'DS_Precision_SL', 'DS_Offices', 'DS_Precision_Head', 'DS_TrainCamp',
       'DS_Precision_TC', 'DS_Training', 'DS_Precision_Train', 'DS_WeaponLog',
       'DS_Precision_WL', 'DS_FinAid', 'DS_Precision_FinAid', 'DS_Transport',
       'DS_Precision_Tp', 'DS_Other', 'DS_Precision_Oth'],
      dtype='object')

In [5]:
active_support_variables = ['S_SafeMem', 'S_SafeLead', 
       'S_Offices', 'S_TrainCamp', 
       'S_Training',  'S_WeaponLog', 
       'S_FinAid',  'S_Transport', 
       'S_Troop']
defacto_support_variables = ['DS_SafeMem', 'DS_SafeLead',  
        'DS_Offices', 'DS_TrainCamp', 'DS_Training',
        'DS_WeaponLog',  'DS_FinAid','DS_Transport']

In [6]:
def get_active_support_variable(x):
    flag = 0
    for support_type in active_support_variables:
        sup = x[support_type]
        if not pd.isna(sup) and int(sup) == 1:
            flag = 1
            break
    return flag

def get_defacto_support_variable(x):
    flag = 0
    for support_type in defacto_support_variables:
        sup = x[support_type]
        if not pd.isna(sup) and int(sup) == 1:
            flag = 1
            break
    return flag

In [7]:
# df['statesup'] = df.apply(get_active_support_variable)
df['statesup'] = df.apply(get_active_support_variable, axis = 1)
df['defacto'] = df.apply(get_defacto_support_variable, axis = 1)

In [8]:
df.to_csv("source_data/NAG_dataset_26April2020.csv", sep="|", index=False)

In [9]:
s = active_support_variables + ['statesup']

df[s]

,S_SafeMem,S_SafeLead,S_Offices,S_TrainCamp,S_Training,S_WeaponLog,S_FinAid,S_Transport,S_Troop,statesup
0,1,0,0,1,0,0,0,0,0,1
1,1,0,0,1,0,0,0,0,0,1
2,1,0,0,1,0,0,0,0,0,1
3,1,0,0,1,0,0,0,0,0,1
4,1,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
20577,0,0,0,0,0,0,0,0,0,0
20578,0,0,0,0,0,0,0,0,0,0
20579,1,0,0,0,0,1,1,0,1,1
20580,1,0,0,0,0,1,1,0,1,1
20581,1,0,0,0,0,1,1,0,1,1

In [ ]:
s = defacto_support_variables + ['defacto']

df[s]

In [ ]:
df.to_csv("source_data/NAG_dataset_v0.csv", index=False)

In [ ]:
df.columns

In [ ]:
df1 = pd.read_stata('source_data/Triadic_apr7_harshit.dta')

In [ ]:
df2 = pd.read_csv("source_data/NAG_dataset_v0.csv")

In [ ]:
df2.drop(['statesup', 'defacto'], axis = 1, inplace=True)

In [ ]:
df1==df2

In [ ]:
small_df = df[df['NAGcode_1']==10]

In [ ]:
small_df.sort_values(by=['Year'])['Year']